@using (Html.BeginForm("Create", "Products", FormMethod.Post))
{
    <div class="text-center col-lg-5" style="margin-left:auto; margin-right:auto">
        <h2>Add New Product</h2>
        <form>
            Name <input id="name" name="Name" type="text" placeholder="Name" class="form-control" />
            <br />
            Description <textarea id="description" name="Description" type="text" placeholder="Description" class="form-control" rows="3" ></textarea>
            <br />

            Price <input id="price" name="Price" type="number" placeholder="Price" class="form-control" />
            <br />

            ImageUrl <textarea id="imageUrl" name="ImageUrl" type="text" placeholder="ImageUrl" class="form-control" rows="2" ></textarea>
            <br />

            Stock <input id="stock" name="Stock" type="number" placeholder="Stock" class="form-control" />
            <br />

            Material <input id="material" name="Material" type="text" placeholder="Material" class="form-control" />
            <br />

            Color <input id="color" name="Color" type="text" placeholder="Color" class="form-control" />
            <br />

            Brand <input id="brand" name="Brand" type="text" placeholder="Brand" class="form-control" />
            <br />

            <button type="submit" class="btn btn-primary">Add</button>
        </form>

    </div>


}



